div.cover{
    background-color:#e0f0ff;
    width:800px;
    height:1200px;
    padding:16px;
}
div.io{
    background-color:#ffffff;
    width:240px;
    height:200px;
}

div.abstract{
    background-color:#ffffff;
    height:60px;
}

div#structure{
    background-color:#f8f8ff;
    width:300px;
    height:300px;
}

div#variable{
    background-color:#f8f8ff;
    width:300px;
    height:300px;
}

div#scheme{
    background-color:#f8f8ff;
    width:300px;
    height:300px;
}

div#formula{
    background-color:#f8f8ff;
    width:300px;
    height:300px;
}

table.items td{
    background:#ffffff;
    border: 1px solid #888888;
    padding:4px;
}
