
body{
    font-size:12pt;
}
td{
    font-size:12pt;
}

table.how td{
    vertical-align: top;
}

div.center{
    text-align:center;
}

div.section{
    margin: 8px;
    background-color:#ffffff;
    border: 1px solid #dddddd;
}

hr.separator{
    border: 1px solid #e0e0e0;
    margin-right: 12px;
    margin-left: 12px;
}

img.frame_svg{
    width:80%;
}
div.icon{
/*    background-color:#ffffff;*/
    height: 80px;
    width: 80px;
/*    border: 2px solid #888888;*/
    padding:0px;
    font-size:8pt;
}

div.scene_icon{
    background-color:#ffffff;
    height: 80px;
    width: 80px;
    border: 2px solid #888888;
    padding:0px;
    font-size:8pt;
}

div.smallicon{
    background-color:#ffffff;
    height: 32px;
    width: 32px;
    border: 2px solid #888888;
    padding:8px;
    font-size:7pt;
}

td.symbol{
    text-align:center;
    width:40px;
}
td.code{
    text-align:center;
    width:40px;
    font-family: Courier New;
}
th.scene_desc{
    border: 0px solid #ffffff;
    text-align:left;
}

div.title{
    background-color:#ffffff;
    border: 1px solid #888888;
    height: 40px;
    line-height: 40px;
    padding:8px;
    font-size:18pt;
}

div.level{
    background-color:#ffffff;
    height: 40px;
    line-height: 40px;
    border: 1px solid #888888;
    padding:8px;
    font-size:18pt;
}

div.cover{
    /*    background-color:#e0f0ff;*/
    background-color:#ffffff;
    border: 1px solid #000000;
    width:1024px;
    height:1540px;
    padding:16px;
}

div.constraints{
    background-color:#f0f0f0;
    padding:8px;
}

div.code{
    background-color:#f0f0f0;
    width:1000;
    height: 800;
    padding:16px;
}

pcode{
    background-color:#f0f0ff;
    width:1000;
    height: 800;
    padding:16px;
}

div.note{
    background-color:#f8fff8;
    width:1000;
    height: 170;
    padding:16px;
}

div.explanation{
    background-color:#fffff8;
    width:1000;
    height: 340;
    padding:16px;
}

div.application{
    background-color:#fff8f8;
    width:1000;
    height: 90;
    padding:16px;
}

div.column{
    background-color:#f5f5dc;
    width:1000;
    padding:16px;
}





div.io{
    background-color:#ffffff;
    border: 1px solid #aaaaaa;
    width:440px;
    height:280px;
/*    line-height: 340px;*/
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

div.abstract{
    background-color:#ffffff;
    /*    height:80px;*/
    margin: 4px;
    width: 980px;
}
div.motivation{
    background-color:#ffffff;
    padding:1px;
    width: 980px;
}

div#structure{
    background-color:#ffffff;
    width:640px;
    height:380px;
}

div#variable{
    background-color:#ffffff;
    width:300px;
    height:300px;
}

div#scheme{
    background-color:#ffffff;
    width:640px;
    height:380px;
}

div#formula{
    background-color:#ffffff;
    width:300px;
    height:300px;
}

table.items {
    border: 1px solid #888888;
}

table.items td{
    background:#ffffff;
    border: 1px solid #888888;
    padding:4px;
    font-size:11pt;
}
table.items th{
    background:#ffffff;
    border: 1px solid #888888;
    padding:4px;
    font-size:9pt;
}

td.caption{
    text-align:center;
    font-size:9pt;
    mergin:0;
    padding:0px;
}
p.caption{
    text-align:center;
    font-size:9pt;
    mergin:0;
    padding:0px;
}

td.frame{
    /*
    line-height:200px;
    height:200px;
*/
    vertical-align:middle;
    horizontal-align:center;
    text-align:center;
    align-items: center;
}

td.frame img{
    vertical-align:middle;
        horizontal-align:center;
    text-align:center;
}

#content {
    max-width: 1200px;
    margin: auto;
}

#content svg{
    width: 100%;
    height; auto;
}


